h1 {
    /* color: red; */
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 2rem;
}

h2 {
    /* color: blue; */
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

h3 {
    /* color: green; */
    font-size: large;
    font-weight: bold;
}

p {
    margin-bottom: 1rem;
}

/* mobile (default) */
#content {
    min-width: calc(100vw - 2rem);
    width: calc(100vw - 2rem);
    transition: margin-left 0.123s ease-in-out;
}

/* tailwind lg */
@media screen and (min-width: 1024px) {
    #content {
        min-width: auto;
        width: 100%;
    }
}

#content[data-nav='true'] {
    margin-left: 17rem;
    /* margin-left: calc(250px + 0.5rem); */
}
